.buttons button {
    width: calc(25% - 2px);
    font-size: 20px;
    background: #9288b9;
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
}
.buttons button:hover {
    color: white;
}